@charset "utf-8";

@import './reset.scss';
@import './animation.scss';


:root {
  /** font size **/
  --h1-size: 32px;
  --h2-size: 28px;
  --h3-size: 24px;


  --ft-small: 12px;
  --ft-medium: 14px;
  --ft-basic: 16px;
  --ft-large: 18px;
  --ft-xlarge: 24px;
  /** color **/

  --primary: #3ff3a8;
  --primary-dark-100: #36d393;
  --primary-dark-300: #2aaf7a;
  --primary-light-100: #82c9a8;

  --header-color: #29ee9d;
  --error: #e84c4c
}


body {
  font-size: var(--ft-basic);
  box-sizing: border-box;
  background-color: #c7c7c7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.root-container {
  box-sizing: border-box;

  background-color: #ececec;
  width: 400px;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
