.button {
  width: 100%;
  border: none;
  height: 40px;
  border-radius: 7px;
  cursor: pointer;
  &.sm {
    width: 70px;
  }

  &.md {
    width: 100px;
  }

  &.lg{
    width: 150px;
  }

  &.xlg{
    width: 200px;
  }

  &.default {}
  &.primary {
    background-color: var(--primary);

    &:hover {
      color: white;
      transition: all .3s ease-in-out;
    }
  }
  &.error{
    color: #fff;
    background-color: var(--error)
  }
}