.todo-container {
  width: 94%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .todo-header {

    display: flex;
    flex-direction: column;
    gap: 10px;

    .selected-date {
      display: flex;
      align-items: center;
      font-size: var(--ft-xlarge);
      font-weight: bold;
      background-color: var(--header-color);
      box-sizing: border-box;
      padding: 20px 10px;
      border-radius: 7px;
    }
  }

  .todo-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 600px;
    min-height: 300px;
    overflow: auto;

    .todo-item-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid lightgray;
      border-radius: 7px;
      padding: 15px 5px;

      section {
        box-sizing: border-box;
      }

      .todo-checkbox {
        flex-grow: .7;
      }

      .todo-content {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title-box {
          display: flex;
          gap: 10px;

          h3 {
            font-size: var(--ft-large);
            font-weight: bold;
          }
        }
      }

      .todo-control-box {
        flex-grow: .3;
      }
    }
  }
}